.sourceCode {
    /* https://github.com/highlightjs/highlight.js/blob/3209cca58146c1287123c3d3bb3eb982174d64fd/src/styles/github.css */
    /* prettylights-syntax-keyword */
    --keyword: var(--sourceCode-keyword);
    /* prettylights-syntax-entity */
    --entity: var(--sourceCode-entity);
    /* prettylights-syntax-constant */
    --constant: var(--sourceCode-constant);
    /* prettylights-syntax-string */
    --string: var(--sourceCode-string);
    /* prettylights-syntax-variable */
    --variable: var(--sourceCode-variable);
    /* prettylights-syntax-comment */
    --comment: var(--sourceCode-comment);
    /* prettylights-syntax-entity-tag */
    --entity-tag:var(--sourceCode-entity);

    /* borrowed from https://stackoverflow.design/product/base/colors/#danger-and-error */
    --error: var(--sourceCode-error);
    --warn: var(--sourceCode-warn);
}

/* KeywordTok, ImportTok, ControlFlowTok */
.sourceCode .kw,
.sourceCode .im,
.sourceCode .cf,
.sourceCode .bu {
    color: var(--keyword);
}

/* DataTypeTok, FunctionTok, ExtensionTok */
.sourceCode .dt,
.sourceCode .fu,
.sourceCode .ex {
    color: var(--entity);
}

/* DecValTok, BaseNTok, FloatTok, ConstantTok */
.sourceCode span.dv,
.sourceCode span.bn,
.sourceCode span.fl,
.sourceCode span.cn {
    color: var(--constant);
}

/* CharTok, StringTok, SpecialCharTok, VerbatimStringTok, SpecialStringTok */
.sourceCode span.ch,
.sourceCode span.st,
.sourceCode span.sc,
.sourceCode span.vs,
.sourceCode span.ss {
    color: var(--string);
}

/* VariableTok */
.sourceCode span.va {
    color: var(--variable);
}

/* CommentTok, RegionMarkerTok, DocumentationTok, PreprocessorTok */
.sourceCode span.co,
.sourceCode span.re,
.sourceCode span.do,
.sourceCode span.pp {
    color: var(--comment);
}

/* AnnotationTok, CommentVarTok, InformationTok, WarningTok */
.sourceCode span.an,
.sourceCode span.cv,
.sourceCode span.in,
.sourceCode span.wa {
    color: var(--comment);
    font-style: italic;
}

/* AttributeTok */
.sourceCode span.at {
    color: var(--entity-tag);
}

/* AlertTok */
.sourceCode span.al {
    text-decoration: 1px underline wavy var(--warn);
}
/* ErrorTok */
.sourceCode span.er {
    text-decoration: 1px underline wavy var(--error);
}

/* OperatorTok, OtherTok */
.sourceCode span.op,
.sourceCode span.ot {
    /* purposely ignored */
}
