.sourceCode {
    /* https://github.com/highlightjs/highlight.js/blob/3209cca58146c1287123c3d3bb3eb982174d64fd/src/styles/github.css */
    /* prettylights-syntax-keyword */
    --keyword: #d73a49;
    /* prettylights-syntax-entity */
    --entity: #6f42c1;
    /* prettylights-syntax-constant */
    --constant: #005cc5;
    /* prettylights-syntax-string */
    --string: #032f62;
    /* prettylights-syntax-variable */
    --variable: #e36209;
    /* prettylights-syntax-comment */
    --comment: #6a737d;
    /* prettylights-syntax-entity-tag */
    --entity-tag: #22863a;

    /* borrowed from https://stackoverflow.design/product/base/colors/#danger-and-error */
    --error: #d0393e;
    --warn: #cea81c;

    @media (prefers-color-scheme: dark) {
        /* https://github.com/highlightjs/highlight.js/blob/3209cca58146c1287123c3d3bb3eb982174d64fd/src/styles/github-dark.css */
        /* prettylights-syntax-keyword */
        --keyword: #ff7b72;
        /* prettylights-syntax-entity */
        --entity: #d2a8ff;
        /* prettylights-syntax-constant */
        --constant: #79c0ff;
        /* prettylights-syntax-string */
        --string: #a5d6ff;
        /* prettylights-syntax-variable */
        --variable: #ffa657;
        /* prettylights-syntax-comment */
        --comment: #8b949e;
        /* prettylights-syntax-entity-tag */
        --entity-tag: #7ee787;

        /* borrowed from https://stackoverflow.design/product/base/colors/#danger-and-error */
        --error: #c4514f;
        --warn: #dab941;
    }

    /* KeywordTok, ImportTok, ControlFlowTok */
    .kw, .im, .cf, .bu {
        color: var(--keyword);
    }
    /* DataTypeTok, FunctionTok, ExtensionTok */
    .dt, .fu, .ex {
        color: var(--entity);
    }

    /* DecValTok, BaseNTok, FloatTok, ConstantTok */
    .dv, .bn, .fl, .cn {
        color: var(--constant);
    }
    /* CharTok, StringTok, SpecialCharTok, VerbatimStringTok, SpecialStringTok */
    .ch, .st, .sc, .vs, .ss {
        color: var(--string);
    }

    /* VariableTok */
    .va {
        color: var(--variable);
    }

    /* CommentTok, RegionMarkerTok, DocumentationTok, PreprocessorTok */
    .co, .re, .do, .pp {
        color: var(--comment);
    }

    /* AnnotationTok, CommentVarTok, InformationTok, WarningTok */
    .an, .cv, .in, .wa {
        color: var(--comment);
        font-style: italic;
    }

    /* AttributeTok */
    .at {
        color: var(--entity-tag);
    }

    /* AlertTok */
    .al {
        text-decoration: 1px underline wavy var(--warn);
    }
    /* ErrorTok */
    .er {
        text-decoration: 1px underline wavy var(--error);
    }

    /* OperatorTok, OtherTok */
    .op, .ot {
        /* purposely ignored */
    }
}
