#header {
    border-bottom: 2px solid var(--border);
}

#header #navigation ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
#header #navigation ul li {
    font-size: 14pt;
    font-weight: bold;
    margin: 0px 6px;
    text-transform: uppercase;
}
#header #navigation ul li:first-child {
    margin-left: 0px;
}
#header #navigation ul li:last-child {
    margin-right: 0px;
}
@media screen and (max-width: 500px) {
    #header #navigation ul {
        flex-direction: column;
    }
    #header #navigation ul li {
        margin: 0;
    }
}
#header #navigation ul li a {
    color: var(--text-bright);
}
#header #navigation #logo {
    text-transform: lowercase;
    font-family: monospace;
    flex-grow: 1;  /* push all the way left */
}


#footer {
    border-top: solid 2px var(--border);
    color: var(--text-muted);
    text-align: right;
}


.subtitle {
    font-style: italic;
    color: var(--text-muted);
}


.math.display {
    display: block;
    text-align: center;
}

code {
    font-size: 16px;
}
pre {
    overflow-x: auto;
    overflow-wrap: normal;  /* fix scrolling in safari */
}

/* pasting blockquote styles from water.css */
aside {
    border-left: 4px solid #0096bfab;
    border-left: 4px solid var(--focus);
    margin: 1.5em 0;
    padding: 0.5em 1em;
    font-style: italic;
}


code, time {
    padding: 1.75px 3.5px;
}

time {
    font-size: smaller;
    vertical-align: text-bottom;
}


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: var(--text-bright);
}
h1 a::after, h2 a::after, h3 a::after, h4 a::after, h5 a::after, h6 a::after {
    content: " §";
    display: none;
    font-weight: normal;
    color: var(--text-muted);
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: none;
}
h1:hover a::after, h2:hover a::after, h3:hover a::after, h4:hover a::after, h5:hover a::after, h6:hover a::after {
    display: inline;
}
