#header {
    border-bottom: 2px solid black;
}


#header #navigation ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
#header #navigation ul li {
    font-size: 14pt;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}
#header #navigation ul li a {
    color: black;
}

#header #navigation #logo {
    text-transform: lowercase;
    font-family: monospace;
    flex-grow: 1;
}
#header #navigation a#logo pre {
    margin: 0;
    padding: 0;
}

#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}


.subtitle {
    font-style: italic;
}


.comments-list {
    list-style: none;
    padding: 0;
}
.comment {
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 1em;
    margin: 1em 0 1em 1em;
}
.comment-header {
    font-size: 12pt;
    margin-top: 12px;
}


.math.display {
    display: block;
    text-align: center;
}

code {
    font-size: 16px;
}
pre {
    overflow-x: auto;
    overflow-wrap: normal;
}
pre code {
    counter-reset: lineNumber;
}
pre code>span::before {
    counter-increment: lineNumber;
    content: counter(lineNumber);
    width: 1.25em;
    display: inline-block;
    border-right: 1px solid #AAAAAA;
    margin-right: 0.25em;
    padding-right: 0.25em;
    color: #AAAAAA;
    text-align: right;
}
