#header {
    border-bottom: 2px solid var(--border);

    #navigation {
        & ul {
            display: flex;
            list-style-type: none;
            padding-left: 0;

            & li {
                font-size: 14pt;
                font-weight: bold;
                margin: 0px 6px;
                text-transform: uppercase;

                & a {
                    color: var(--text-bright);
                }

                :first-child {
                    margin-left: 0px;
                }
                :last-child {
                    margin-right: 0px;
                }
            }

        }

        @media screen and (max-width: 500px) {
            & ul {
                flex-direction: column;

                & li {
                    margin: 0;
                }
            }
        }
    }

    #logo {
        text-transform: lowercase;
        font-family: monospace;
        flex-grow: 1;  /* push all the way left */
    }
}


#footer {
    border-top: solid 2px var(--border);
    color: var(--text-muted);
    text-align: right;
}
