.subtitle {
    font-style: italic;
    color: var(--text-muted);
}

h1, h2, h3, h4, h5, h6 {
    & a {
        color: var(--text-bright);

        &::after {
            content: " §";
            display: none;
            font-weight: normal;

            color: var(--text-muted);
        }

        &:hover {
            text-decoration: none;

            &::after {
                display: inline;
            }
        }
    }
}
