time {
    /* see also rule for `code` */
    padding: 1.75px 3.5px;

    font-size: smaller;
    vertical-align: text-bottom;
}

/* pasting blockquote styles from water.css */
aside {
    border-left: 4px solid #0096bfab;
    border-left: 4px solid var(--focus);
    margin: 1.5em 0;
    padding: 0.5em 1em;
    font-style: italic;
}

.callout {
    border: none;
    border-radius: 6px;
    font-style: normal;  /* undo italic from blockquote */

    h3 {
        margin-top: 12px;
    }

    /* todo: others from https://help.obsidian.md/Editing+and+formatting/Callouts */
    &.callout-note, &.callout-info {
        background-color: hsla(from var(--focus) h s l / 8%);
    }

    &.callout-warning {
        background-color: hsla(from var(--warning) h s l / 8%);
    }
}
