time {
    /* see also rule for `code` */
    padding: 1.75px 3.5px;
}

/* pasting blockquote styles from water.css */
aside {
    border-left: 4px solid #0096bfab;
    border-left: 4px solid var(--focus);
    margin: 1.5em 0;
    padding: 0.5em 1em;
    font-style: italic;
}
